.footer__column-link{
  color: white;
  display: block;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  transition: opacity 0.3s ease-out;
}
.footer__column-link:hover {
  opacity: 0.5; 
}